<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSaude2"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TreinoActivity" />
        <activity android:name=".CaracterizacaoActivity" />
        <activity android:name=".AnamneseActivity" />
        <activity android:name=".AvaliacaoFisicaActivity" />
        <activity android:name=".ConceitoActivity" />
        <activity android:name=".ClassificacaoActivity" />
        <activity android:name=".AnatomiaActivity" />
        <activity android:name=".SintomasActivity" />
        <activity android:name=".DiagnosticoActivity" />
        <activity android:name=".TratamentoActivity" />
        <activity android:name=".ReferenciasActivity" />
    </application>

</manifest>